<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-登录</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script type="text/javascript">
		//使用axios
		Vue.prototype.axios = axios;
		//在每次请求时，前端携带token到请求头中
		axios.interceptors.request.use(config=>{
			//从localStorage或vuex中获取token
			const token = localStorage.getItem('token');//||this.$stire.stste.token;
			//如果token，就添加到请求头中
			if (token){
				config.headers.Authorization = token;
			}
			console.log(token);
			console.log(config);
			return config;
		},error=>{
			return Promise.reject(error);
		});

	</script>
</head>

<body>
<div id="app">

	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="images/logo02.png"></a>	
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="register.html"  >立即注册</a>
				</div>
				<div class="form_input">
					<form>
						<input type="text" name="username" class="name_input" placeholder="请输入用户名" v-model="nickName"  v-model="nickName">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码" v-model="pwd" v-model="pwd">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="" @click="flag=!flag">
							<label>记住用户名</label>
							<a href="findPass.html">忘记密码</a>
						</div>
						<input type="button" name="" value="登录" class="input_submit" @click="login()">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
</div>

<script type="text/javascript">
	var login_addr = "http://localhost:20001/user";
	let vm=new Vue({
				el: "#app",
				data: {
					nickName:'',
					pwd:'',
					valcode:'',
					flag:false,
				},
		methods:{
			login:function () {
				var params = new URLSearchParams();
				params.append("nickName",this.nickName);
				params.append("pwd",this.pwd);
				axios.post(login_addr+"/login",params).then(data=>{
					var result = data.data;
					if(result.code==1){
						alert("登录成功,欢迎您"+result.data.nickName);
						const data = {nickName:result.data.nickName};
						sessionStorage.setItem("nickName",JSON.stringify(data));//转成Json对象传
						window.location.href="index.html";
						localStorage.setItem('token', result.data.token);
						return;
					}
					alert("登录失败 ："+ result.msg);
				})
			},
			showName:function () {
				 axios.post(login_addr+"/showName").then(result=>{
					let jsonModel=result.data;
					if(jsonModel.code==1) {
						this.nickName = jsonModel.data.user;
						this.pwd = jsonModel.data.pwd;
					}
				})
			}
		},
		mounted:function () {
			axios.all([this.showName()]);

		}
	});
</script>
</body>
</html>