<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-后台管理登录界面</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="js/axios.js"></script>
	<script src="js/vue.js"></script>
</head>
<body>
<div id="app">
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>管理员登录</h1>
				</div>
				<div class="form_input">
					<form>
						<input type="text" name="username" class="name_input" placeholder="请输入管理员用户名" v-model="admininfo.aname">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入管理员密码" v-model="admininfo.apwd">
						<div class="pwd_error">输入错误</div>
						<input type="submit" name="" value="登录" class="input_submit" @click.prevent="adminLogin()">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
</div>

<script>
	var admin_addr = "http://localhost:20001/backgroud/"
	let vm = new Vue({
		el:"#app",
		data:{
			admininfo:{
				aname:"",
				apwd:"",
				op:"adminLogin"
			}
		},
		methods:{
			adminLogin(){
				if(this.admininfo.aname == ""){
					alert("管理员用户名不能为空!")
					return;
				}
				if(this.admininfo.apwd == ""){
					alert("管理员密码不能为空!");
					return;
				}
				let params = new URLSearchParams(this.admininfo);
				axios.post(admin_addr+"adminLogin",params).then(data => {
					if(data.data.code == 1){
						localStorage.setItem('token_admin', data.data.token);
						alert("登录成功!");
						window.location.href="backstage.html";
					}else {
						alert(data.data.msg);
					}
				});
			}
		},
		mounted(){

		}
	})
</script>
</body>
</html>